#editor{
	height: 750px;
	background-color: #ebeced;
}


#editor #panel{
	background-color: #3f4652;
	position: fixed;
	width: 30%;
	left: 0;
	height: 660px;
	color: #fff;

}
#editor .editbar{
	 background: #272c33 ;
	 text-align: center;
	 height: 660px;
    position: relative;
    position: fixed;
    left: 0;
    z-index: 345;


}

#editor .editbar .fas,.editbar p {
	background: #272c33 ;
	color: #ebeced;
    cursor: pointer;
}
#editor .editbar .fas:hover { 
	color: #00c4cc
}
#editor .editbar .Selections
{
    position: absolute;
    left: 100%;
    top: 78px;
    background-color: #3f4652;
    height: 400px;
    width: 300px; 
    display: none;
}
#editor .editbar .Selections #colors
{
    margin:50% auto;
    display: none;
}
#editor .editbar .Selections #colors h3
{
    color: #fff;
    font-size: 20px;
}
#editor .editbar .Selections #colors div
{
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 5px;
}
#editor .editbar .Selections #changingfont
{
    padding: 0 50px;
    margin:50% auto;
    color: #fff;
    display: none;
}
#editor .thewebsite
{
    margin-left: 105px;
    width: 100%;
}
